<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('template/head') %> 
</head>
<body>
    <header>
        <%- include('template/header') %>
    </header>

    <h1>MICROAPI About Page Content</h1>
    <div class="container">
        <ul>
            <li>Who we are</li>
            <li>What matters to us</li>
            <li>What we do</li>
            <li>How we do it</li>
            <li>The team</li>
        </ul>
    </div>
    <!-- <h2> <%= variable %> </h2> -->
    
    <footer>
        <%- include('template/footer') %>
    </footer> 
</body>