<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MicroApi | Strength in Collaboration</title>
  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
  <!-- @Abdussami and @stvyn navbar start -->
  <header>
    <!--<img class ="logo" src="Images/logo.svg" alt="logo">-->
    <nav>
      <ul links="nav__links">
        <!--<li ><a href="#">HNG API COLLECTOR</a> </li>  -->
        <li><a href="#">Home</a> </li>
        <li><a href="#">About</a> </li>
        <li><a href="#">Login</a> </li>
      </ul>
    </nav>
    <a class="cta" href="#"><button>Register</button></a>



  </header>
  <!-- @Abdussami and @stvyn navbar end -->

  <!-- @AugustaEhihebolo and @DevOlajide hero section start -->

  <!-- @AugustaEhihebolo and @DevOlajide hero section end -->

  <!-- @Innovarto  and @Kelvinakpobome - about us section start -->

  <!-- @Innovarto  and @Kelvinakpobome - about us section end -->

  <!-- @tomii and @charles onuorah - footer section start -->

  <!-- @tomii and @charles onuorah - footer section end -->
</body>

</html>
