<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MicroApi | Strength in Collaboration</title>
  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
  <!-- @Abdussami and @stvyn navbar start -->
  <header>
    <div class="container">
      <nav>

        <div class="logo">
          <h2>MicroAPI</h2>
        </div>

        <ul>
          <li class="nav-links"><a href="#">Home</a></li>
          <li class="nav-links"><a href="#">About</a></li>
          <li class="nav-links"><a href="#">Login</a></li>
          <li class="btn btn-main">Register</li>
        </ul>
      </nav>
    </div>



  </header>
  <!-- @Abdussami and @stvyn navbar end -->

  <!-- @AugustaEhihebolo and @DevOlajide hero section start -->
  <section>
    <div class="hero">
      <div class="container">
        <h1 class="hero-title">Strength in<br>Collaboration</h1>
        <p class="hero-summmary">Working cooperatively with others<br>to work towards common goals</p>
        <button type="button" class="hero-btn btn-outline">How It Works</button>
        <button type="button" class="hero-btn">Get Started</button>
      </div>
      <div class="container">
        <img class="hero-img" src="./images/hero-image.png" alt="">
      </div>
    </div>
  </section>
  <!-- @AugustaEhihebolo and @DevOlajide hero section end -->

  <!-- @Innovarto  and @Kelvinakpobome - about us section start -->

  <!-- @Innovarto  and @Kelvinakpobome - about us section end -->

  <!-- @tomii and @charles onuorah - footer section start -->

  <!-- @tomii and @charles onuorah - footer section end -->
  
    <div class="footer-container">
        <div class="row-1">
         <p>Get Amplified Now</p>
            <div class="wrapper">
                <button class= "btn btn-main"> Register </button>
                <button class = "btn"></button>Log In</button>
            </div>
        </div>
        <div class="row-2">
            <p>Coded By Team Incredible</p> 
        </div>
    </div>
</body>

</html>
