<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MicroApi | Strength in Collaboration</title>
  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
  <!-- @Abdussami and @stvyn navbar start -->
  <header>

        <div class="container">

            <div class="logo">
                <h2>MicroAPI</h2>
            </div>

            <nav>
                <ul>
                    <li class="nav-links"><a href="#">Home</a></li>
                    <li class="nav-links"><a href="#">About</a></li>
                    <li class="nav-links"><a href="#">Login</a></li>
                    <li class="btn">Register</li>
                </ul>
            </nav>
        </div>



  </header>
  <!-- @Abdussami and @stvyn navbar end -->

  <!-- @AugustaEhihebolo and @DevOlajide hero section start -->

  <!-- @AugustaEhihebolo and @DevOlajide hero section end -->

  <!-- @Innovarto  and @Kelvinakpobome - about us section start -->

  <!-- @Innovarto  and @Kelvinakpobome - about us section end -->

  <!-- @tomii and @charles onuorah - footer section start -->

  <!-- @tomii and @charles onuorah - footer section end -->
</body>

</html>
