<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../template/head') %>
</head>

<body>
    <header>
        <%- include('../template/header') %>
    </header>
    <div class="container1">
        <div class="head-color">
            <h2 class="head-text">About MicroAPI</h2>
            <img class="head-img"
                src="https://res.cloudinary.com/josh4324/image/upload/v1591745179/people-sitting-beside-brown-wooden-desk-near-flat-screen-tv-1181355_1_s8f6ms.png"
                alt="">
        </div>
        <div class="section1">
            <h2 class="text-center sec1-h2">Who we are</h2>
            <span class="hr"></span>
            <p class="sec1-text text-center">
                We are a fast-paced team dedicated to delivering fast and scalable solutions to solve large and complex
                business problems and increase productivity for your company.
            </p>
        </div>
        <div class="section2">
            <h2 class="text-center sec2-h2">What we do</h2>
            <span class="hr"></span>
            <p class="sec1-text text-center">We provide lightweight, easy-to-use and scalable microservices that can be
                easily
                plugged into your application.</p>
        </div>

    </div>


    <div class="micro-service-desc">
        <div class="container">
            <div class="about-us__wrapper">
                <div class="img-2">
                    <img src="/images/managing-users-2.png" alt="">
                </div>
                <div class="mg-r img-1">
                    <img src="/images/managing-users-1.png" alt="">
                </div>
                <div class="story-sect">

                    <p class="desc">Dockerized Micro Service For
                        Managing Users</p>
                    <p class="content">
                        By using our user management service,
                        managing your application users becomes
                        easier and requires less effort.
                    </p>
                </div>
            </div>
        </div>
        <div class="action">
            <a href="#" class="btn btn-main"> View More &rarr; </a>
        </div>
    </div>

    <!-- @tomii and @charles onuorah - footer section start -->
    <div class="amplified">
        <p>Get Amplified Now</p>
        <div class="action">
            <a href="/register" class="btn btn-main"> Register </a>
            <a href="/login" class="btn btn-main btn-main--outline">Log In</a>
        </div>
    </div>

    <footer>
        <%- include('../template/footer') %>
    </footer>
</body>
