<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../template/head') %>
</head>

<body>
  <header>
    <%- include('../template/header') %>
  </header>
  <section>

        <div >Token gotten from query</div><br>
        <div style="width: fit-content;text-align: center;"><%= token %></div>

  </section>
  <%- include('../template/footer') %>


</body>

</html>