<!doctype html>
<html lang="en">

<!-- @olanetsoft -->
<%- include('../template/head') %>
<!-- @olanetsoft -->

<body>
    <!-- @olanetsoft -->
    <header>
        <%- include('../template/header') %>
    </header>
    <!-- @olanetsoft -->

    <div class="signup-form-container">
        <div class="signup-container">

            <h1 class="signup-title">
                Welcome ! 
            </h1>
            <div class="google-signup-btn">
                <img class="signup-icon"
                    src="https://res.cloudinary.com/oluwatobiloba/image/upload/v1591804664/incredible%20project/giigke_t85qnf.png" />
                <!-- <i class="fab fa-google signup-icon"></i> -->
                <button class="google-btn">Login with Google</button>
            </div>
            <div class="or">
                <hr />
                <span>OR</span>
                <hr />
            </div>
            <div class="form">
                <form class="signup-form" action="/register" method="POST">
                    <label for="email">Email</label>
                    <input class="signup-input" type="email" id="email" name="email" />
                    <label for="password">Password</label>
                    <input class="signup-input" type="password" id="password" name="password" />
                    <a class="form-link" href="/register">Forgot Password?</a>
                    <br>
                    <button class="signup-btn" type="submit">Sign Up</button>
                    <p class="form-link">Don't have an account? <a class="form-link" href="/register">Click to
                            Register</a></p>
                </form>
            </div>
        </div>
        <!-- @olanetsoft -->
        <div class="signup-img">

        </div>
    </div>

    <!-- @olanetsoft -->
    <%- include('../template/footer') %>
    <!-- @olanetsoft -->
</body>

</html>