@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* THIS IS RESET STYLES */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background-color: white;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/****** OTHER STYLES BEGINS HERE **************8*/
/* REMEMBER TO STYLE FOR MOBILE DEVICES FIRST */

/* @Abdussami and @stvyn navbar start */

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

/*************************************************
=================NAVBAR===========================
*************************************************/

body {
  margin: 0;
  background: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

header {
  padding: 1rem 0;
}

.logo {
  margin-bottom: 1rem;
}

.logo h2 {
  color: #0062ff;
  font-size: 1.5rem;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  position: relative;
}

nav a {
  color: rgb(95, 95, 95);
  text-decoration: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

nav a:hover {
  color: #0062ff;
}

.btn {
  display: inline-block;
  padding: 0.6em 1.3em;
  border-radius: 0;
  background: #0062ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

nav a::before {
  content: "";
  display: block;
  height: 2px;
  background-color: #0062ff;
  position: absolute;
  top: 120%;
  left: 35%;
  width: 0%;
  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 30%;
}

/***** @Abdussami and @stvyn navbar end ****/

/***** @Eleam container here*****/
.container {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin: 16px 18px;
  width: 100%;
}

/* @AugustaEhihebolo and @DevOlajide hero section start */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
  
  .hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Poppins', sans-serif;
      padding: 1rem;
  }
  .hero-title {
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 3.2rem;
      margin: 2rem 0;
  }
  .hero-summmary {
      font-size: 1.2rem;
      line-height: 2rem;
      margin-bottom: 2rem;
  }
  .hero-btn {
      color: white;
      font-size: 1rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      background-color: #31AA52;
      border: 2px solid #31AA52;
      border-radius: .5rem;
      padding: .75rem 1.5rem;
      margin-left: 2rem;
  }
  .hero-btn:hover {
      background-color: #268228;
      border: 2px solid #268228;
      cursor: pointer;
  }
  .hero-btn.btn-outline {
      color: #31AA52;
      font-weight: 400;
      background-color: white;
      border: 2px solid #31AA52;
      border-radius: .5rem;
      padding: .75rem 1.5rem;
      margin-left: 0;
  }
  .hero-btn.btn-outline:hover {
      color: white;
      background-color: #31AA52;
      border: 2px solid #31AA52;
      cursor: pointer;
  }
  .hero-img {
      margin: 4rem 0;
      width: 100%;
      height: auto;
  }
/* @AugustaEhihebolo and @DevOlajide hero section end */

/* @Innovarto  and @Kelvinakpobome - about us section start */

/* @Innovarto  and @Kelvinakpobome - about us section end */

/* @tomii and @charles onuorah - footer section start */

/* @tomii and @charles onuorah - footer section end */

/******************** MEDIA QUERIES *******************/
/* TABLETS  */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  /* @Abdussami and @stvyn navbar start */
  @import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

  /*************************************************
=================NAVBAR===========================
*************************************************/
  nav {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  nav ul {
    /* margin: 0; */
    padding: 0;
    list-style: none;
    margin-left: auto;
  }

  nav li {
    display: inline-block;
    margin-left: 2rem;
    position: relative;
  }

  nav a {
    color: rgb(95, 95, 95);
    text-decoration: none;
    padding: 0.75rem 1.2rem;
    font-size: 1rem;
  }

  .logo {
    margin-bottom: 0;
  }

  /* @Abdussami and @stvyn navbar end */

  /* @AugustaEhihebolo and @DevOlajide hero section start */
  /* @AugustaEhihebolo and @DevOlajide hero section end */

  /* @Innovarto  and @Kelvinakpobome - about us section start */
  /* @Innovarto  and @Kelvinakpobome - about us section end */

  /* @tomii and @charles onuorah - footer section start */
  /* @tomii and @charles onuorah - footer section end */
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /* @Abdussami and @stvyn navbar start */
  @import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

  /*************************************************
=================NAVBAR===========================
*************************************************/

  /* @Abdussami and @stvyn navbar end */
  /* @AugustaEhihebolo and @DevOlajide hero section start */
  .hero {
    flex-direction: column;
  }
  /* @AugustaEhihebolo and @DevOlajide hero section end */
  /* @Innovarto  and @Kelvinakpobome - about us section start */
  /* @Innovarto  and @Kelvinakpobome - about us section end */
  /* @tomii and @charles onuorah - footer section start */
  /* @tomii and @charles onuorah - footer section end */
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  /* @Abdussami and @stvyn navbar start */
  @import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

  /*************************************************
=================NAVBAR===========================
*************************************************/

  /* @Abdussami and @stvyn navbar end */
  /* @AugustaEhihebolo and @DevOlajide hero section start */
  .hero {
    flex-direction: row;
  }
  /* @AugustaEhihebolo and @DevOlajide hero section end */
  /* @Innovarto  and @Kelvinakpobome - about us section start */
  /* @Innovarto  and @Kelvinakpobome - about us section end */
  /* @tomii and @charles onuorah - footer section start */
  /* @tomii and @charles onuorah - footer section end */
}

/* LARGE SCREENS */
@media only screen and (min-device-width: 1025px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1025px;
  }

  /* @Abdussami and @stvyn navbar start */
  @import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

  /*************************************************
=================NAVBAR===========================
*************************************************/
  nav {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  nav ul {
    padding: 0;
    list-style: none;
    margin-left: auto;
  }

  nav li {
    display: inline-block;
    margin-left: 2rem;
    position: relative;
  }

  nav a {
    color: rgb(95, 95, 95);
    text-decoration: none;
    padding: 0.75rem 1.2rem;
    font-size: 1rem;
  }

  .logo {
    margin-bottom: 0;
  }
  /* @Abdussami and @stvyn navbar end */

  /* @AugustaEhihebolo and @DevOlajide hero section start */
  .hero {
    flex-direction: row;
}
.hero-title {
    font-size: 4rem;
    line-height: 5.4rem;
    margin-bottom: 2rem;
}
.hero-summmary {
    font-size: 2rem;
    line-height: 3.4rem;
    margin-bottom: 3rem;
}
.hero-btn {
    font-size: 1.4rem;
}
.hero-btn-outline {
    font-size: 1.4rem;
}
  /* @AugustaEhihebolo and @DevOlajide hero section end */
  /* @Innovarto  and @Kelvinakpobome - about us section start */
  /* @Innovarto  and @Kelvinakpobome - about us section end */
  /* @tomii and @charles onuorah - footer section start */
  /* @tomii and @charles onuorah - footer section end */
}
